<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationRentForm.js"></script>

    <% if (formMode == 'createNew') { %>
        <h2><%= __('rent.form.add.pageTitle') %></h2>
    <%}else if(formMode == 'edit'){%>
        <h2><%= __('rent.form.edit.pageTitle') %></h2>
    <%}else{%>
        <h2><%= __('rent.form.details.pageTitle') %></h2>
    <%}%>
    <div class="centeredForm">

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm()">
            <div style="display: none">
                <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
                <span id="errorMessage-validateError"><%=__('validationMessage.validateError')%></span>
                <span id="errorMessage-dateErr"><%=__('validationMessage.dateErr')%></span>
                <span id="errorMessage-minRentErr"><%=__('validationMessage.minRentErr')%></span>
                <span id="errorMessage-beforeErr"><%=__('validationMessage.beforeErr')%></span>
                <span id="errorMessage-punishErr"><%=__('validationMessage.punishErr')%></span>
                <span id="errorMessage-numErr"><%=__('validationMessage.numErr')%></span>
            </div>

            <input type="hidden" name="_id" value="<%= rent._id %>">

            <label for="car_id"><%=__('rent.fields.client_id')%>:<abbr title="required" aria-label="required">*</abbr></label>
            <% if (locals.validationErrors) {%>
            <select id="client_id" name="client_id" required  <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                    class="<%= validationErrors.find(e => e.path.includes('client_id')) ? 'error-input' : '' %>"/>
                <option value=""selected disabled ><%=__('register.client')%></option>

                <% for (let i=0; i<allClients.length; i++) { let client = allClients[i]; %>
                <option value="<%=client._id%>" label="<%=client.firstName+ ' ' + client.lastName%>"
                        <%= (rent._id && client._id.toString() == rent.client._id.toString()) ? 'selected' : ''%>
                ></option>
                <% } %>
            </select>

            <% } else { %>
                <select id="client_id" name="client_id" required  <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                <option value=""selected disabled>--<%=__('register.client')%></option>

                <% for (let i=0; i<allClients.length; i++) { let client = allClients[i]; %>
                <option value="<%=client._id%>" label="<%=client.firstName+ ' ' + client.lastName%>"
                        <%= (rent._id && client._id.toString() == rent.client._id.toString()) ? 'selected' : ''%>
                ></option>
                <% } %>
                </select>
            <% } %>
            <span id="errorClient" class="errors-text">
                <%if(locals.validationErrors){%>
                    <% if (validationErrors.find(e => e.path.includes('client_id'))) { %>
                        <%= validationErrors.find(e => e.path.includes('client_id')).message %>
                    <% } %>
                <% } %>
            </span>



                <label for="car_id"><%=__('rent.fields.car_id')%>:<abbr title="required" aria-label="required">*</abbr></label>
            <% if (locals.validationErrors) { %>
                <select id="car_id" name="car_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                        class="<%= validationErrors.find(e => e.path.includes('car_id')) ? 'error-input' : '' %>"/>
                <option value=""selected disabled><%=__('register.car')%></option>

                <% for (let i=0; i<allCars.length; i++) { let car = allCars[i]; %>
                <option value="<%=car._id%>" label="<%=car.brand+ ' '+ car.model%>"
                        <%= (rent._id && car._id.toString() == rent.car._id.toString()) ? 'selected' : ''%>
                ></option>
            <% } %>
                </select>
            <% } else { %>
                <select id="car_id" name="car_id" required  <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
                    <option value=""selected disabled><%=__('register.car')%></option>

                    <% for (let i=0; i<allCars.length; i++) { let car = allCars[i]; %>
                    <option value="<%=car._id%>" label="<%=car.brand+ ' ' + car.model %>"
                            <%= (rent._id && car._id.toString() == rent.car._id.toString()) ? 'selected' : ''%>
                    ></option>
                    <% } %>
                </select>
            <% } %>

            <span id="errorCar" class="errors-text">
                <%if(locals.validationErrors){%>
                    <% if (validationErrors.find(e => e.path.includes('car_id'))) { %>
                        <%= validationErrors.find(e => e.path.includes('car_id')).message %>
                    <% } %>
                <% } %>
            </span>


            <label for="<%=__('rent.fields.dateFrom')%>">Data od:<abbr title="required" aria-label="required">*</abbr></label>
            <%if(formMode == 'showDetails'|| formMode == 'edit'){%>
            <% if (locals.validationErrors) {%>
            <input type="date" name="dateFrom" id="dateFrom" value="<%=rent.dateFrom.toISOString().split('T')[0]%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                   class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ? 'error-input' : '' %>"/>
            <%}else{%>
                <input type="date" name="dateFrom" id="dateFrom" value="<%=rent.dateFrom.toISOString().split('T')[0]%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <%}%>
            <%}else{%>
                <% if (locals.validationErrors) {%>
                <input type="date" name="dateFrom" id="dateFrom" value="<%=rent.dateFrom%>"
                       class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ? 'error-input' : '' %>"/>
                       <%}else{%>
                        <input type="date" name="dateFrom" id="dateFrom"/>
                    <%}%>
            <%}%>
            <span id="errorDateFrom" class="errors-text" value="<%=rent.dateFrom%>">
                <%if(locals.validationErrors){%>
                    <% if (validationErrors.find(e => e.path.includes('dateFrom'))) { %>
                        <%= validationErrors.find(e => e.path.includes('dateFrom')).message %>
                    <% } %>
                <% } %>
            </span>

            <label for="<%=__('rent.fields.dateTo')%>">Data do:<abbr title="required" aria-label="required">*</abbr></label>
            <%if(formMode == 'showDetails'|| formMode == 'edit'){%>
                <% if (locals.validationErrors) {%>
                <input type="date" name="dateTo" id="dateTo" value="<%=rent.dateTo.toISOString().split('T')[0]%>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                       class="<%= validationErrors.find(e => e.path.includes('dateTo')) ? 'error-input' : '' %>"/>
                <%}else{%>
                <input type="date" name="dateTo" id="dateTo" value="<%=rent.dateTo.toISOString().split('T')[0]%>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <%}%>
            <%}else{%>
                <% if (locals.validationErrors) {%>
                    <input type="date" name="dateTo" id="dateTo" value="<%=rent.dateTo%>"
                           class="<%= validationErrors.find(e => e.path.includes('dateTo')) ? 'error-input' : '' %>"/>
                <%}else{%>
                    <input type="date" name="dateTo" id="dateTo" value="<%=rent.dateTo%>"/>
                <%}%>
            <%}%>
            <span id="errorDateTo" class="errors-text">
                <%if(locals.validationErrors){%>
                    <% if (validationErrors.find(e => e.path.includes('dateTo'))) { %>
                        <%= validationErrors.find(e => e.path.includes('dateTo')).message %>
                    <% } %>
                <% } %>
            </span>

            <label for="punishment"><%=__('rent.fields.punishment')%>:</label>
            <% if (locals.validationErrors) {%>
            <input type="number" name="punishment" id="punishment" placeholder="<%=__('register.punishment')%>" value="<%=rent.punishment%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                   class="<%= validationErrors.find(e => e.path.includes('punishment')) ? 'error-input' : '' %>" />
            <%}else{%>
            <input type="number" name="punishment" id="punishment" placeholder="<%=__('register.punishment')%>" value="<%=rent.punishment%>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <%}%>
            <span id="errorPunish" class="errors-text">
                <%if(locals.validationErrors){%>
                    <% if (validationErrors.find(e => e.path.includes('punishment'))) { %>
                        <%= validationErrors.find(e => e.path.includes('punishment')).message %>
                    <% } %>
                <% } %>
            </span>

        <% if (formMode == 'showDetails'&& loggedUser.role==='emp') { %>
            <div class="detailCenter">
                <a href="/rents/edit/<%= rent._id %>" class="button-add"><%= __('form.actions.edit') %></a>
            </div>
        <% } %>

            <%if(loggedUser.role==='emp'){%>
    <div class="form-buttons">
        <%if(locals.validationErrors){%>
            <p id="errorsSummary" class="errors-text"><%=__('register.error')%></p>
        <%}else{%>
        <p id="errorsSummary" class="errors-text"></p>
                <%}%>
        <% if (formMode == 'createNew') { %>
        <input class="form-button-submit" type="submit" value="<%= __('rent.form.add.btnLabel') %>"/>
        <a class="form-button-cancel" href="/rents"><%=__('header.cancel')%></a>
        <% } else if(formMode=='edit'){ %>
            <input class="form-button-submit" type="submit" value="<%= __('rent.form.edit.btnLabel') %>"/>
            <a class="form-button-cancel" href="/rents"><%=__('header.cancel')%></a>
        <%}else{%>

        <div class="detailCenter">
            <a class="form-button-cancel" href="/rents"><%=__('header.back')%></a>
        </div>
        <% } %>
    </div>
            <%}%>
        </form>
    </div>
    <%if(loggedUser.role==='client'){%>
        <div class="back">
            <a class="form-button-cancel" href="/cars"><%=__('header.back')%></a>
        </div>
    <%}%>
</main>
<%- include('../../fragments/footer.ejs') %>