<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%=__('car.list.title')%></h2>
    <table class="table-list">
        <thead>
        <tr>
            <th><%=__('car.fields.brand')%></th>
            <th><%=__('car.fields.model')%></th>
            <th><%=__('car.fields.year')%></th>
            <th><%=__('car.fields.cost')%></th>
            <th><%=__('list.actions.title')%></th>
        </tr>
        </thead>
        <tbody>
        <% for (let car of cars) { %>
        <tr>
            <td><%= car.brand %></td>
            <td><%= car.model %></td>
            <td><%= car.year %></td>
            <td><%= car.cost %></td>
            <td>

                <ul class="list-actions">
                    <li>
                        <a href="/cars/details/<%=car._id%>" class="list-actions-button-details"><%=__('list.actions.details')%></a>
                    </li>
                    <%if(loggedUser.role==='emp'){%>
                    <li>
                        <a href="/cars/edit/<%=car._id%>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a>
                    </li>
                    <li>
                        <a href="/cars/delete/<%=car._id%>" onclick="return confirm('<%=__('list.actions.confirm')%>')" class="list-actions-button-delete"><%=__('list.actions.delete')%></a>
                    </li>
                    <%}%>
                </ul>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <%if(loggedUser.role==='emp'){%>
    <p><a href="/cars/add" class="button-add"><%=__('car.list.addNew')%></a></p>
    <%}%>
</main>
<%- include('../../fragments/footer.ejs') %>